@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  background: #fdf9f9;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter";
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-family: "Inter";
  color: black;
}

footer {
  margin-top: 50px;
  text-align: center;
  font-family: "Inter";
  color: black;
}

.link-section {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 55px;
}

a {
  text-decoration: none;
  color: #ff5733;
}

img {
  max-height: 200px;
}

.hello-emoji {
  font-size: 55px;
  cursor: crosshair;
}

.hello-emoji:before {
  content: attr(data-hover);
}

.hello-emoji:hover {
  animation-name: wave-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
