@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Inter";
}

h1 {
  font-size: 55px;
}

p {
  font-size: 55px;
}
